Extra para mi

In [ ]:
v.iloc[j].values[0]

# Clear to database

# Run Packages

In [2]:
import pandas as pd
import numpy as np

# Run database "Consumer Price Index"

In [ ]:
df = pd.read_csv("/content/Consumer Price Index.csv")

In [ ]:
df.tail(100)

# Run database "Monthly adjusted consumer expenditure basket weights"

In [ ]:
df3= pd.read_csv("/content/Monthly adjusted consumer expenditure basket weights.csv")

In [ ]:
df3['REF_DATE'].value_counts()

2021-01    122
2020-03    122
2020-10    122
2020-04    122
2020-11    122
2020-09    122
2020-07    122
2020-08    122
2020-05    122
2020-12    122
2020-02    122
2020-06    122
Name: REF_DATE, dtype: int64

In [ ]:
len(df3["REF_DATE"])

1464

# Run database "Monthly adjusted price index"

In [3]:
df2= pd.read_csv("/content/Monthly adjusted price index.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df2.head(100)

## firsr filter

In [4]:
new_df2 = df2[((df2['REF_DATE'].str.contains("2018", case=False)) | (df2['REF_DATE'].str.contains("2019", case=False)) | (df2['REF_DATE'].str.contains("2020", case=False)) | (df2['REF_DATE'].str.contains("2021", case=False)))]

In [ ]:
new_df2['REF_DATE'].value_counts()

## Second filter

In [5]:
new2_df2 = new_df2[(new_df2['GEO'].str.contains("Can", case=False))]

In [ ]:
new2_df2['GEO'].value_counts()

## third filter (adjustment)

In [ ]:
new2_df2.head()

In [ ]:
(new2_df2['REF_DATE'].value_counts()).sort_index(level=0)

#n3=pd.DataFrame(new2_df2['REF_DATE'].value_counts())
#n3=n3.reset_index()
#n3.columns = ['Ref','#']
#n3.sort_values('Ref')

In [6]:
n3 = new2_df2['REF_DATE'].str.split('-', expand=True)
n3.columns = ['year', 'month']
new3_df2 = pd.concat([n3,new2_df2], axis=1)
new3_df2.head()

        year month REF_DATE     GEO  ... STATUS SYMBOL TERMINATED  DECIMALS
943782  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1
943783  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1
943784  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1
943785  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1
943786  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1

[5 rows x 17 columns]

## Revision

In [ ]:
new3_df2[0:60]

It is the detailed base

In [ ]:
new3_df2.dtypes

In [ ]:
(new3_df2['Products and product groups'].value_counts())

## Fouth filter (General Base)

In [7]:
new4_df2 = new3_df2[
                    ((new3_df2['Products and product groups'] == "All-items")|
                     (new3_df2['Products and product groups'] == "Food")|
                     (new3_df2['Products and product groups'] == "Shelter")|
                     (new3_df2['Products and product groups'] == "Household operations, furnishings and equipment")|
                     (new3_df2['Products and product groups'] == "Clothing and footwear")|
                     (new3_df2['Products and product groups'] == "Transportation")|
                     (new3_df2['Products and product groups'] == "Health and personal care")|
                     (new3_df2['Products and product groups'] == "Recreation, education and reading")|
                     (new3_df2['Products and product groups'] == "Alcoholic beverages, tobacco products and recreational cannabis")|
                     (new3_df2['Products and product groups'] == "All-items excluding food")|
                     (new3_df2['Products and product groups'] == "All-items excluding food and energy"))]

new4_df2.head()

        year month REF_DATE     GEO  ... STATUS SYMBOL TERMINATED  DECIMALS
943782  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1
943783  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1
943889  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1
943906  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1
943960  2018    01  2018-01  Canada  ...    NaN    NaN        NaN         1

[5 rows x 17 columns]

In [ ]:
(new4_df2['REF_DATE'].value_counts()).sort_index(level=0)

## Fiveth filter (Division)

In [8]:
column = ["01","02","03","04","05","06","07","08","09","10","11","12"]
row = ["All-items","Food","Shelter",
       "Household operations, furnishings and equipment",
       "Clothing and footwear","Transportation","Health and personal care",
       "Recreation, education and reading",
       "Alcoholic beverages, tobacco products and recreational cannabis",
       "All-items excluding food","All-items excluding food and energy"]

Reduce the code.

In [ ]:
def localiza(a,b):
  d = ((a["Products and product groups"] == b) & (a["month"] == "01"))
  c = a[(d)]["VALUE"].values[0]
  return c

In [ ]:
def Data5 (a,c):
  a = new4_df2[new4_df2.year == c]
  v=pd.DataFrame({"Value":[0,0,0,0,0,0,0,0,0,0,0]},index=row)
  for i in row:
    L = localiza(a,i)
    v.loc[i] = L
  for i in np.arange(len(a)):
    a["VALUE"].values[i] = (a["VALUE"].values[i]/v.loc[(a["Products and product groups"].values[i])].values[0])*100
  return a

### 2018

In [ ]:
df2_2018 = Data5("df2_2018","2018")

In [ ]:
df2_2018.head(60)

### 2019

In [ ]:
df2_2019 = Data5("df2_2019","2019")

In [ ]:
df2_2019.head(60)

### 2020

In [ ]:
df2_2020 = Data5("df2_2020","2020")

In [ ]:
df2_2020.head(60)

### 2021

In [ ]:
df2_2021 = Data5("df2_2021","2021")

In [ ]:
df2_2021.head(60)

### 2018 to 2021 Norm

In [9]:
MAPI_18_21 = new4_df2

In [ ]:
MAPI_18_21['REF_DATE'] = MAPI_18_21['REF_DATE']+"-28"
MAPI_18_21['REF_DATE'] = pd.to_datetime(MAPI_18_21['REF_DATE'],errors='coerce')
MAPI_18_21.head()

In [ ]:
MAPI_18_21.dtypes

In [ ]:
(MAPI_18_21['REF_DATE'].value_counts()).sort_index(level=0)

In [15]:
def localiza(a,b):
  d = ((a["Products and product groups"] == b) & (a["month"] == "01") & (a["year"] == "2018"))
  c = a[(d)]["VALUE"].values[0]
  return c

In [16]:
def Data5 (a):
  a = MAPI_18_21
  v = pd.DataFrame({"Value":[0,0,0,0,0,0,0,0,0,0,0]},index=row)
  for i in row:
    L = localiza(a,i)
    v.loc[i] = L
  for i in np.arange(len(a)):
    a["VALUE"].values[i] = (a["VALUE"].values[i]/v.loc[(a["Products and product groups"].values[i])].values[0])*100
  return a

In [17]:
MAPI_N_18_21 = Data5("MAPI_N_18_21")

## Make databases for to visualization

In [18]:
df2_2018.to_csv('MAPI_18.cvs', index=False)
df2_2019.to_csv('MAPI_19.cvs', index=False)
df2_2020.to_csv('MAPI_20.cvs', index=False)
df2_2021.to_csv('MAPI_21.cvs', index=False)

MAPI_18_21.to_csv('MAPI_18_21.cvs', index=False)
MAPI_N_18_21.to_csv('MAPI_N_18_21.cvs', index=False)